<nav class="$nav_css_class collapse navbar-collapse navbar-left" role="navigation">
##<nav class="$nav_css_class" id="header-menue" role="navigation">

	<ul id="nav-left" class="nav navbar-nav" aria-label="#language ("site-pages")" role="menubar">
		#foreach ($nav_item in $nav_items)
			#set ($nav_item_attr_has_popup="")
			#set ($nav_item_attr_selected="")
			#set ($nav_item_css_class = "")

			#if ($nav_item.isSelected())
				#set ($nav_item_attr_selected="aria-selected='true'")
				#set ($nav_item_css_class = "selected")
			#end

			#if ($nav_item.hasChildren())
				#set ($nav_item_attr_has_popup="aria-haspopup='true'")
			#end

			<li id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
				<a class="$nav_item_css_class" aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span class="menuitem">$nav_item.icon() $nav_item.getName()&nbsp;<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span></a>

				#if ($nav_item.hasChildren())
					<ul class="dropdown-menu list-unstyled">
						#foreach ($nav_child in $nav_item.getChildren())
							#set ($nav_child_attr_selected="")
							#set ($nav_child_css_class = "false")
							
							#if ($nav_child.isSelected())
								#set ($nav_child_attr_selected="aria-selected='true'")
								#set ($nav_child_css_class = "selected")
							#end
 							<div class="yamm-content">
                            	<div class="row">
                                	##<div class="col-md-6">
										<ul class="list-unstyled">
											<li id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="presentation">
											<a class="$nav_child_css_class" aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
									
												#if ($nav_child.hasChildren())
													<ul class="level2" role="menu">
														#foreach ($nav_child2 in $nav_child.getChildren())
															#set ($nav_child2_attr_selected="")
															#set ($nav_child2_css_class = "false")
															
															#if ($nav_child2.isSelected())
																#set ($nav_child2_attr_selected="aria-selected='true'")
																#set ($nav_child2_css_class = "selected")
															#end
								
															<li id="layout_$nav_child2.getLayoutId()" $nav_child2_attr_selected role="presentation">
																<a class="$nav_child2_css_class" aria-labelledby="layout_$nav_child2.getLayoutId()" href="$nav_child2.getURL()" $nav_child2.getTarget() role="menuitem">$nav_child2.getName()</a>
																	
															</li>
														#end
													</ul>
												#end
									
							   				</li>
							   			</ul>
							##</div>
                            </div>
                        </div>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
</nav>