<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>
<!--<link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Open+Sans+Condensed:300,300italic,700|Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

#set ($dockbar = $theme.getSetting("dockbar-vertical"))

#if ($dockbar == true)
	#set ($css_class = "${css_class} dockbar-vertical")
#end

<body class="$css_class">



<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)
	
	
<div class="container-fluid">

	<header id="navigation" class="yamm navbar-inverse navbar-fixed-top animated-header navigation-shadow">

	
	<div class="container">
		<a href="$portal_url">
                <h1 class="navbar-brand">
                </h1>
            </a>
		
		<div id="nav">	
			#if ($has_navigation || $is_signed_in)
					#parse ("$full_templates_path/navigation.vm")
			#end	
		</div>
		
		
		<!--<nav class="collapse navbar-collapse navbar-right" id="navsearch" role="navigation"> -->      
            <div id="page-search">
				$theme.journalContentSearch()
			</div>          
          
          <!--</nav> -->
          
         
          
          
          <div id="sign-in-link">
            	#if ($show_sign_in)
				
					<a href="$sign_in_url" title="Please sign in or register!">$sign_in_text</a>
				
				#end
            	
            	#if ($is_signed_in)
					<a href="$sign_out_url" title="sign out">$sign_out_text</a>
				#end
            	
            	<!--<a href="$portal_url/web/gfbio-theme-2.0/sign-in" title="Please sign in or register!">Sign In</a>-->
       
            	<!--<a href="$portal_url/web/gfbioboostrap3/sign-in" title="Please sign in or register!">Sign In</a>-->
        	</div>
          
	 </div>	
	 
	 	

	
	
	</header>
	
#if ($is_signed_in)
	#dockbar()
#end

<main class="site-content" role="main">
	<!--<div id="content">-->
		
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	

	<!--</div>-->
</main>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)



#js ("$javascript_folder/jquery-1.11.1.min.js")
#js ("$javascript_folder/jquery-1.11.2-ui.min.js")


<script>

(function($) {
    $(document).ready(function() {
      $(document).accordion({
        // Put custom options here
        heightStyle: 'content',
        header: 'div.toggler',
        collapsible: true,
        active: false,
      });
      var activate = function(tog) {
        var tgs = $('div.toggler');
        tgs.removeClass('active');
        tog.addClass('active');
        tgs.next('div.accordion').attr('aria-hidden', 'true');
        tog.next('div.accordion').attr('aria-hidden', 'false');
      };
      $('div.toggler').focus(function(e) {
        $('div.toggler').attr('tabindex', 0);
        $(this).attr('tabindex', -1);
      }).blur(function() {
        $(this).attr('tabindex', 0);
      }).click(function() {
        activate($(this));
      }).keypress(function(event) {
        if (event.keyCode == 13) activate($(this));
      });
    });
  })(jQuery);
</script>



</body>

</html>