@import url(//fonts.googleapis.com/css?family=Roboto);
@import url("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/flick/jquery-ui.css");

input[type=search] {
	/*min-width: 200px;*/
    vertical-align: bottom;
}

.ui-state-default .ui-icon , .ui-icon, .ui-widget-content .ui-icon{
	background-image: url("../images/ui-icons_888888_256x240.png") !important;
}

#gfbioSearchInput{
	width: 70%;
}

label, input, button {
    font-size: inherit;
    padding: 0.3em 0.4em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /*border: 1px solid #f90;
    background-color: #fff;*/
}

#QueryButton{
	background:url('../images/ico-search.png') no-repeat center center;
    width:24px;
	height:24px;
	border: none;
	cursor: pointer;
}
#SemanticQueryButton{
	background:url('../images/ico-search-semantic.png') no-repeat center center;
	width:24px;
	height:24px;
	border: none;
	cursor: pointer;
}

span.hilight{
    background-color:#f6931f;
    color:#666;
}

body.wait  {
    cursor: wait;
}

select[name=tableId_length] {
	width: 20%;
	min-width: 80px;
}

#search_gadget,#search_facet,#search_result_table, table.html-1{
	background-color: transparent;
	/*color: #333;
	font-family: 'Roboto';
	font-size: 14px ;
	background-color: white;*/
	color: #818181;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px ;
	line-height:24px;
	padding:0;
}

#search_result_table{
	overflow-x:auto;
}
a {
	    -webkit-transition: all 0.3s ease-out 0s;
	    -moz-transition: all 0.3s ease-out 0s;
	    -ms-transition: all 0.3s ease-out 0s;
	    -o-transition: all 0.3s ease-out 0s;
	    transition: all 0.3s ease-out 0s;
	    
	    font-weight: 400;
		
		 color: rgb(60, 172, 228); /*3CACE4*/
		 text-decoration: underline;
		 text-decoration-style: dotted;
}
a:focus , a:visited{
    color: #333333;
    font-weight: bold;
}
/*a, a:hover, a:focus, .btn:focus {
		    text-decoration: none;
		    outline: none;
		   
}*/		
		

.dataTables_length, .dataTables_info, .dataTables_paginate{
	font-size:12px !important;
}
div.dataTables_info{
  float:right !important;
  padding-top: 16px !important;
}
div.dataTables_paginate{
  float:left !important;
}


.jstree-node, .jstree-children, .jstree-container-ul  {
	margin: 0px 0px 0px 5px !important;
}

.cart_unselected{
	height: 36px;
	width: 36px;
	background: url('../images/cart_add.png') no-repeat center center;
	cursor: pointer;
}
.cart_selected{
	height: 36px;
	width: 36px;
	background: url('../images/cart_rem.png') no-repeat center center;
	cursor: pointer;
}
td.color-control {
	vertical-align: middle;
	text-align: center;
	display: block;
	position: absolute;
	margin-left:-6px;
}
.invisible{
	display:none !important;
}

table.dataTable table.html-1 tr{
	background-color:transparent;
}
.sp-replacer{
	width:20px !important;
}
.tagit, .tagit-new{
	background:transparent !important;
}
ul.tagit input[type="text"] {
	background:transparent !important;
}
.ui-widget,#facetTags.ui-widget{
	font-size:12px !important;
}
.dataTables_length, .dataTables_info, .dataTables_paginate{
	text-align: right !important;
}
.ui-widget { font: inherit; }
.ui-autocomplete li { overflow: hidden; white-space: nowrap; }
.ui-autocomplete .ui-menu-item a { margin: 0; padding: 1px 3px; line-height: normal; }
table.html-1 { margin-bottom: .7em; }
table.html-1 .info { font-size: smaller; }
table.html-1 .citation { font-size: larger; }
table.html-1 .creator { font-weight: bold; }
table.html-1 .date { font-weight: bold; }
table.html-1 .desc { font: inherit; border-collapse: collapse; border: 0; margin: 0; padding: 0}
table.html-1 .desc-left { font: inherit; font-style: italic; margin: 0; padding: 0; padding-right: .5em; vertical-align: top; text-align: left; white-space: nowrap; }
table.html-1 .desc-right { font: inherit; margin: 0; padding: 0; vertical-align: top; text-align: left; }
/*
.acInput{
  background: #fff url('../images/cross.png') no-repeat right -16px center;
  border: 1px solid #ddd;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  /*border-radius: 3px;
  transition: background 0.4s;
}*/
/*
.acInput.x  { background-position: right 5px center; } /* (jQ) Show icon */
/*.acInput.onX{ cursor: pointer; }              /* (jQ) hover cursor style */

.bonsai li{
	margin: 0 0 5px 0;
}
table.dataTable thead th{
	background-color: transparent;
	padding:0px 0px 0px 40px!important;
	margin:0px !important;
}

#dialogFacet{
	background-color:white;
}

.br-theme-bars-horizontal .br-widget {
  width: 36px!important;
}
.br-theme-bars-horizontal .br-widget a {
  width: 36px!important;
}
.br-theme-bars-horizontal .br-widget .br-current-rating {
  width: 36px!important;
  font-size: 12px!important;
}
.icon-info{
	height: 24px;
	width: 24px;
	background: url('../images/more_info.png')  no-repeat;
	cursor: pointer;
	margin-left: -15px;
}

		.tooltip {
			/*border-bottom: 1px dotted #000000;*/ color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: 'Lato', sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: -400; width: 400px;
		}
		/*.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}*/
		.tooltip:hover em {
			font-family: 'Lato', sans-serif; font-size: 16px; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		.tooltip:hover p {
			font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400;
			display: block; 
		}
		.classic { padding: 0.8em 1em; }
		.classic {background: #9FDAEE; border: 1px solid #2BB0D7; }
		/*.custom { padding: 0.5em 0.8em 0.8em 2em; }
		* html a:hover { background: transparent; }*/
		/*.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
		.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.warning { background: #FFFFAA; border: 1px solid #FFAD33; }*/