<style type="text/css">
	#usersTable td{
		width:150px;
		font-size: 12px;
		font-weight: bold;
	}
	td{	text-align:left; }
	.swHide {display: none}
	.swMain{display: block}
	.dBorder{ outline-style:solid; outline-color:rgb(200,200,200); outline-width:thin; padding-top:5px; padding-bottom:5px; padding-left:2px; padding-right:2px}
</style>