.aui{
/*=================================================================
	SUBMISSION PAGE
==================================================================*/

#submission-fork {
    /*background-color: #eee;*/
   
}

section#submission-fork  #molecular a,
section#submission-fork  #generic a,
section#submission-fork  #collections a,
section#submission-fork  #environmental a
{
 
    	color:#000;
    	text-decoration:none;

}

.icon-submission {
    display: block;
    margin: 20px 0 20px 0;
    font-size: 5em;
    color: inherit;
}

.subm-tile {
    /*border: 1px solid #666;*/

    /*border-radius: 6px;*/

    /*height: 200px;*/
    text-align: center;

}

.subm-tile > div {
    border-left: 2px dashed #81B248;
}

#submission-fork #generic {
    border-left: 0;
    /*background-color: rgba(255, 206, 0, 1.0);*/
    /*border: 1px solid rgba(255, 206, 0, 1.0);*/
    /*border-radius: 6px;*/
    padding: 10px;
}

#submission-fork #collections {
    /*background-color: rgba(60, 172, 228, 1.0);*/
    /*border: 1px solid rgba(60, 172, 228, 1.0);*/
    /*border-radius: 6px;*/
    padding: 10px;
}

#submission-fork #environmental {
    /*background-color: rgba(50, 90, 162, 1.0);*/
    /*border: 1px solid rgba(50, 90, 162, 1.0);*/
    /*border-radius: 6px;*/
    padding: 10px;
}

#submission-fork #molecular {
    /*background-color: rgba(129, 178, 72, 1.0);*/
    /*border: 1px solid rgba(129, 178, 72, 1.0);*/
    /*border-radius: 6px;*/
    padding: 10px;
}

#submission-fork h1, h2, h3 {
    font-weight: 300;
}

#submission-fork h1 {
    padding-bottom: 6px;
    border-bottom: 2px dashed #81B248;
    margin-bottom: 60px;
}

#submission-fork .subm-tile p {
    text-align: center;
    /*padding: 10px;*/
}

#submission-footer h3 {
    padding-bottom: 4px;
    border-bottom: 1px dashed #81B248;

}
}
