<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>
<!--<link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Open+Sans+Condensed:300,300italic,700|Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

#set ($dockbar = $theme.getSetting("dockbar-vertical"))

#if ($dockbar == true)
	#set ($css_class = "${css_class} dockbar-vertical")
#end

<body class="$css_class">

<!-- preloader -->
	<div id="preloader">
		<div class="loader-box">
			<div class="battery">&nbsp;</div>
		</div>
	</div>
<!-- end preloader -->

<header id="navigation" class="yamm navbar-inverse navbar-fixed-top animated-header navigation-shadow">

	
	<div class="container">
		<!-- logo -->
            <!--<a href="#body">
                <h1 class="navbar-brand">
                </h1>
            </a>-->
            <!-- /logo -->
		<div id="logo-gfbio">
				<a id="logo-gfbio-link" href="$portal_url">
				<img id="logo-gfbio" src="$images_folder/gfbiologo-transparent.png"></a>
		</div>
		
		<div id="nav">	
			#if ($has_navigation || $is_signed_in)
					#parse ("$full_templates_path/navigation.vm")
			#end	
		</div>
		
		
		<!--<nav class="collapse navbar-collapse navbar-right" id="navsearch" role="navigation"> -->      
            <div id="page-search">
				$theme.journalContentSearch()
			</div>          
          
          <!--</nav> -->
          
         
          
          <div id="sign-in-link">
            	<a href="$sign_in_url" title="Please sign in or register!">$sign_in_text</a>
            	
            	<!--<a href="$portal_url/web/gfbio-theme-2.0/sign-in" title="Please sign in or register!">Sign In</a>-->
       
            	<!--<a href="$portal_url/web/gfbioboostrap3/sign-in" title="Please sign in or register!">Sign In</a>-->
        	</div>
          
	 </div>	
	 
	 	

	
	
	</header>



<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)
	
#if ($is_signed_in)
	#dockbar()
#end

<main class="site-content" role="main">
		
<!--
<section id="home-slider">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 wow animated zoomIn" style="margin-top:15%;background:transparent">
				<div class="row container">
					<h1 class="landing-h1">Research Data Management</h1>
					<span class="landing-h1-sub">Step by step through the Data Life Cycle.</span></div>

					<div class="row">
						<div class="col-sm-6">
							<p class="landing-p">
							Welcome to GFBio, the German Federation for Biological Data, a sustainable, service oriented, national data infrastructure facilitating data sharing for biological and environmental research.
							</p>
						</div>
					</div>

					<div class="row container"><!--s-->
						<div class="col-xs-2" style="padding-left: 0;">
							<a class="btn btn-border pull-left" href="#">Get more Information</a>
						</div>

						<div class="col-xs-9">&nbsp;</div>
						
					</div>
				</div>
			</div>
		</div>
<!-- flex tiles -->

			<div class="row container-fluid wow animated zoomIn" id="flex-wrap">

				<div class="home-col home-1" id="home-1">
					<div class="project">
						<a href="submission.html">
							<h1><span class="icon-landing-flex icon-upload4">&nbsp;</span></h1>
	
							<h3>Submit</h3>
							
	
							<div class="hover">
								<div class="hover-content">
									<p><span>Submit</span>
									Deposit data and specimens in dedicated long-term archives. </p>
									<span class="icon-arrow icon-enter">&nbsp;</span>
								</div>
								
							</div>
						</a>
					</div>
				</div>

				<div class="home-col home-1">
					<div class="project">
						<a href="#">

							<h1><span class="icon-landing-flex icon-telescope">&nbsp;</span> </h1>
	
							<h3>Search</h3>
							<div class="hover">
								<div class="hover-content">
									<p>
										<span>Search</span> 
										Start searching integrated datasets and archives. 
									</p>
										<span class="icon-arrow icon-enter">&nbsp;</span> 
									
								</div>
								
							</div>
						</a>
					</div>
				</div>

				<div class="home-col home-1">
					<div class="project">
						<a href="#">

							<h1><span class="icon-landing-flex icon-gears">&nbsp;</span></h1>
							<h3>Manage</h3>
							<div class="hover">
								<div class="hover-content">
									<p><span>Manage</span> Prepare a custom Data Management Plan for your project or application. </p>
									<span class="icon-arrow icon-enter">&nbsp;</span> 
								</div>
								
							</div>
						
					   </a>
					</div>
			  </div>

			<div class="home-col home-1">
				<div class="project">
					<a href="#">

						<h1><span class="icon-landing-flex icon-tools">&nbsp;</span></h1>
						<h3>Tools</h3>
						<div class="hover">
							<div class="hover-content">
								<p><span>Tools</span> Biodiversity Management tools developed and supported by GFBio. </p>
								<span class="icon-arrow icon-enter">&nbsp;</span> 
							</div>
							
						</div>
				    </a>
				</div>
			</div>
		</div>
<!--/ flex tiles -->

</section>	
		
		
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	


</main>


$theme.include($body_bottom_include)

$theme.include($bottom_include)



#js ("$javascript_folder/jquery-1.11.1.min.js")
#js ("$javascript_folder/jquery-1.11.2-ui.min.js")
#js ("$javascript_folder/jquery.easing.min.js")
#js ("$javascript_folder/jquery.ba-cond.min.js")
#js ("$javascript_folder/jquery.fancybox.pack.js")
#js ("$javascript_folder/jquery.parallax-1.1.3.js")
#js ("$javascript_folder/jquery.singlePageNav.min.js")
#js ("$javascript_folder/jquery.slitslider.js")
#js ("$javascript_folder/modernizr-2.6.2.min.js")
#js ("$javascript_folder/owl.carousel.min.js")
#js ("$javascript_folder/wow.min.js")

<script>
$(window).scroll(function () {

    /* ========================================================================= */
    /*	Fix Slider Height
     /* ========================================================================= */


    // Slider Height
    // FIXME: why is there 15px gap on bottom of section ?
    var slideHeight = $(window).height() + 15;
    //console.log('slideHeight ' + slideHeight);

    $('#home-slider, #slider, .sl-slider, .sl-content-wrapper, #generic-main').css('height', slideHeight);

    $(window).resize(function () {
        'use strict',
            $('#home-slider, #slider, .sl-slider, .sl-content-wrapper, #generic-main').css('height', slideHeight);
    });
});


jQuery(window).load(function () {

    $("#preloader").fadeOut("slow");
    
    var wow = new WOW({
	    offset: 75,          // distance to the element when triggering the animation (default is 0)
	    mobile: false,       // trigger animations on mobile devices (default is true)
	    animateClass: 'aui animated'
	});
	console.log('1234');
	wow.init();

});


(function($) {
    $(document).ready(function() {
      $(document).accordion({
        // Put custom options here
        heightStyle: 'content',
        header: 'div.toggler',
        collapsible: true,
        active: false,
      });
      var activate = function(tog) {
        var tgs = $('div.toggler');
        tgs.removeClass('active');
        tog.addClass('active');
        tgs.next('div.accordion').attr('aria-hidden', 'true');
        tog.next('div.accordion').attr('aria-hidden', 'false');
      };
      $('div.toggler').focus(function(e) {
        $('div.toggler').attr('tabindex', 0);
        $(this).attr('tabindex', -1);
      }).blur(function() {
        $(this).attr('tabindex', 0);
      }).click(function() {
        activate($(this));
      }).keypress(function(event) {
        if (event.keyCode == 13) activate($(this));
      });
    });
  })(jQuery);
</script>



</body>

</html>