body.wait *, body.wait
{
    cursor: progress !important;
}
#relatedTermsScope 
{
	display: inline !important; 
}
#relatedTermsScope .ui-button-text
{
	display: inline !important; 
}
#relatedTermsScope .ui-button
{
	display: inline !important; 
}
#relatedTermsScope .ui-widget 
{
	display: inline !important; 
}
.fitcontent
{
    padding:0px !important;
    margin:0px !important;
}
.font-bold
{
	font-weight:bold;
}
.configIcon
{
	width: 16px;
	height: 16px;
	background-image: url(images/ui-icons_2e83ff_256x240.png);
	background-position: -192px -112px; 
	display:inline-block;
}
.externalLinkIcon
{
	width: 16px;
	height: 16px;
	background-image: url(images/ui-icons_2e83ff_256x240.png);
	background-position: -32px -80px; 
	display:inline-block;
}
.showDetails
{
	width: 20px;
	height: 20px;
	background-image: url(images/details_open.png);
	display:inline-block;
}​