**/.settings
**/.project
**/.classpath

**/.gradle
**/.sonar
**/pmd-reports
*-ext.properties
*.bak
*.iml
*.ipr
*.iws
*.processed
*.swp
*~
.ant-targets-build.xml
.ant_targets
.gh.json
.sass-cache
.sass_cache_*.css
/*/*/.web_bundle_build
/*/*/bin
/*/*/build
/*/*/classes
/*/*/target
/*/*/coverage-reports
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/javadoc
/*/*/temp
/*/*/test-classes
/*/*/test-coverage
/*/*/test-results
/*/*/tmp
/.bnd
/.gradle
/.ivy
/baseline-reports
/build
/build.*.properties
/dist
/hooks/*/test/integration/arquillian.xml
/portlets/*/test/integration/arquillian.xml
/webs/*/test/integration/arquillian.xml

/portlets/*/docroot/WEB-INF/lib/GFBioProject-portlet-service.jar

/portlets/*/build.gradle

/portlets/*/docroot/META-INF
/portlets/*/docroot/WEB-INF/classes
/portlets/*/docroot/WEB-INF/service
/portlets/*/docroot/WEB-INF/src/org/gfbio/model
/portlets/*/docroot/WEB-INF/src/org/gfbio/service/base
/portlets/*/docroot/WEB-INF/src/org/gfbio/service/http
/portlets/*/docroot/WEB-INF/src/org/gfbio/service/persistence/*PersistenceImpl.java
/portlets/*/docroot/WEB-INF/sql

/*/*/bin
/*/*/build
/*/*/target

/themes/*/build.gradle
/themes/*/docroot/META-INF
/themes/*/docroot/WEB-INF/lib
/themes/*/docroot/css
/themes/*/docroot/images
/themes/*/docroot/js
/themes/*/docroot/fonts
/themes/*/docroot/layouttpl
/themes/*/docroot/templates
/tmp
/tools/*/*/*/lib
/tools/node*
_sass_cache_*.css