.portlet-configuration .lfr-panel-content {
  padding: 0 1em; }
.portlet-configuration fieldset.rows-container {
  border-width: 0;
  margin-top: 0; }
.portlet-configuration .editing-disabled dt {
  color: #999;
  float: left;
  font-weight: bold;
  width: 6em; }
.portlet-configuration .lfr-form-row .field {
  margin-left: 2em; }
.portlet-configuration .lfr-form-row .field.options, .portlet-configuration .lfr-form-row .validation .field {
  clear: both;
  display: block; }
.portlet-configuration .lfr-form-row .field-title {
  color: #000;
  font-size: 120%;
  font-weight: bold;
  padding: 3px; }
.portlet-configuration .syntax-help {
  margin: 2em 0 0 2em; }
.portlet-configuration .validation {
  clear: left; }
.portlet-configuration .label-name .field-wrapper-content {
  margin-top: 0; }
.portlet-configuration .label-name input, .portlet-configuration .options input {
  width: 200px; }

.web-form-portlet .description {
  margin-bottom: 2em; }

