#set ($portal_url = $portalUtil.getPortalURL($theme_display))
#set ($sign_in_text = "Sign In")
##set ($sign_in_url = $propsUtil.get("sign_in_url"))
#set ($sign_in_url = "/sign-in")
#set ($sign_out_text = "Sign Out")
#set ($user.greeting = "Welcome " + $user.firstName +"!")
