@import url(http://fonts.googleapis.com/css?family=Roboto);

#input{
	background-color: transparent;
	color: #333;
	font-family: 'Roboto' !important;
	font-size: 14px ;
}

.tab-content.hide{
    display: none !important;
}
.tab-content.active{
    display: block !important;
}