
.swHide {
	display: none
}
.swMain {
	display: block
}

div[name="question"] { 
	margin-left: 20px;
	margin-bottom: 20px;
}

input[type="radio"] {
 	margin-bottom: 7px;	
}	
	
.dcrttr {
	border-top: 10px solid;
   	border-bottom: 10px solid;
   	border-color: transparent;
}
	
.dcrtbutton {
	border: 3px;
   	border-style: solid;
   	border-color: #FCFCFC;
   	border-radius: 10px;
   	box-shadow: 0px 3px 5px #888;
   	width: 140px;
   	height: 30px;
   	color: white;
  	padding: 4px 12px;
   	text-align: center;
	text-decoration: none;
   	display: inline-block;
   	font-size: 12px !important;
  	margin: 4px 2px;
   	cursor: pointer;
   }
    
.dcrtbutton.contact {
   	background-color: #3cace4;
}
	
.dcrtbutton.submission {
   	background-color: #87b54b;
}

.dcrtbutton.details {
   	background-color: #3e66ad;
}