
.swHide {
	display: none
}
.swMain {
	display: block
}

div[name="question"] { 
	margin-left: 20px;
	margin-bottom: 20px;
}

input[type="radio"] {
 	margin-bottom: 7px;	
}	
	
.dcrttr {
	border-top: 10px solid;
   	border-bottom: 10px solid;
   	border-color: transparent;
}

.dcrttable {
  	justify-content: center;
	margin-bottom: 15px;
	padding-bottom: 5px !important;
	border-bottom: 1px solid #ddd;
}
	
.dcrtbutton {
	border: 2px;
   	border-style: solid;
   	border-color: #FCFCFC;
   	border-radius: 8px;
   	box-shadow: 0px 3px 5px #888;
   	height: 30px;
   	color: white !important;
   	text-align: center;
   	vertical-align: middle;
	text-decoration: none;
   	display: inline-block;
   	font-size: 13px !important;
   	outline: none;
}
    
.dcrtbutton.contact {
   	background-color: #3cace4;
   	width: 65px;
}
.dcrtbutton.default {
   	background-color: #3cace4;
   	width: 65px;
   	position: relative;
   	right: 76px;
}
	
.dcrtbutton.submission {
   	background-color: #87b54b;
   	width: 85px;
}

.dcrtbutton.details {
   	background-color: #3e66ad;
   	width: 65px;
}