
	#usersTable td{width:150px;font-size: 12px;	font-weight: bold;}
	#tabTableMenu{width:5500px;}
	#tabContentMenu{width:5500px;}
		
	td{	text-align:left; }
	label{cursor:default;}
	
	.portlet-success	{
		background-color: #f1fbd1;
		border: 1px solid #f1d875;
		border-color: #bce830; 
		border-radius: 2px;
		color: #488f06; 
 		cursor: auto !important; 
		margin: 20px 0; 
		padding: 8px 35px 8px 14px;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		word-wrap: break-word; 
	}

	.swHide {display: none}
	.swMain{display: block}
	

	.dBorder{ outline-style:solid; outline-color:rgb(200,200,200); outline-width:thin; padding-top:5px; padding-bottom:5px; padding-left:2px; padding-right:2px}

	.row{width:100%; padding-left: 50px ;padding-bottom:10px}
	.row2{width:100%; padding-bottom:10px}
	.rowLato{clear:left;float:left;			width:22%; }
	.rowLatofalse{clear:left;float:left;	width:22%; color:darkred}
	.rowLava{float:left;width:34%}
	.rowField{float:left;width:51% }
	.rowFieldB{float:left;width:28% }
	.rowInput{float:left;width:34% }
	
	.dynamicIcon1st{  clear:left;	float:left;	width:15px}
	.dynamicTable1st{ clear:left;	float:left;	width:50px;  font-weight:bold}
	.dynamicHeadIst{				float:left;	width:250px; font-weight:bold}
	.dynamicIcon{	 		 		float:left;	width:80px}
	.dynamicTableIst{	 		 	float:left;	width:250px}

	input[type=text].widthM{width:85%}
	input[type=text].widthL{width:92%}
	input[type=button].widthM{width:20%}
	input[type=button].widthL{width:50%}


	.navigator {   border-bottom:1px solid #c8c8c8;height:32px}
	.navigator .tabs ul {list-style:none}
	.navigator .tabs li {list-style:none; display:inline}
	.navigator .tabs a {text-decoration:none;floar:left;margin-rigth:5px;border:1px solid #c8c8c8;border-bottom: none;padding:2px 5px;width:150px;text-align:center;display:inline-block;}
	.navigator .tabs a.active {	color:#000;	border-bottom: 1px solid #ffffff}

	div .section {display: none}
	div .section .active {display: block}
	
 	.inputTextContainerFalse{
	    margin-bottom: 10px;
	    border: 1px solid darkred;
	    border-radius: 0;
	    box-shadow: none;
	    color:darkred;
	    height: 50px;
	    width :100%;
	}  
	
	.labelFalse{
		color:darkred;
	}
	
	.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* 
.ui-icon-circle-traingle-w{

}

.ui-icon-circle-traingle-e{
	
} */


	
	
	