.aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li > a, .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-add-controls li a {
  background: #118ade;
  border: none;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 0 10px;
  padding: 0;
  text-align: center;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li > a:hover, .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-add-controls li a:hover {
    background: #0a4f7f; }

.aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar {
  height: 100%;
  padding: 0;
  position: fixed;
  width: 60px;
  z-index: 350;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner {
    background: inherit;
    border: 0;
    box-shadow: none;
    padding: 0; }
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse {
    padding: 0;
    /* nav-account-controls */ }
    .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul {
      margin: 0;
      padding: 0; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li {
        display: block;
        float: none;
        min-width: inherit; }
        .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li.open > a {
          background-color: #0a4f7f; }
        .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li .nav-item-icon {
          display: inline-block; }
        .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li .icon-caret-down, .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li .nav-item-label {
          display: none; }
        .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li > .dropdown-menu {
          background: #FFF;
          border: 1px solid #CCC;
          left: 60px;
          margin: 0;
          position: absolute;
          top: 0; }
          .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li > .dropdown-menu:before, .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li > .dropdown-menu:after {
            display: none; }
    .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul:nth-child(3) > li > .dropdown-menu {
      bottom: 0;
      left: 60px;
      right: inherit;
      top: inherit; }
    .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-navigation {
      display: none; }
    .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-add-controls {
      width: 240px;
      float: right;
      left: -20px; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-add-controls li {
        float: left; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-add-controls ul.dropdown-menu {
        min-width: inherit;
        padding: 0; }
    .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls {
      background: none;
      float: left; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .admin-links .dropdown-menu li .nav-item-label {
        display: inline-block; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .admin-links > a:before {
        -webkit-font-smoothing: antialiased;
        content: "\f013";
        font-family: 'fontawesome-alloy'; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .my-sites > a:before {
        -webkit-font-smoothing: antialiased;
        content: "\f0ac";
        font-family: 'fontawesome-alloy'; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-notification-link {
        background: transparent;
        border: 0;
        font-size: 12px;
        height: 20px;
        left: 35px;
        line-height: 20px;
        margin: -150px 0px 0px;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 35px;
        width: 20px;
        z-index: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
        .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-notification-link .user-notifications-count {
          background: red;
          border-width: 0;
          color: #FFF;
          display: block;
          text-align: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls li.dropdown.dockbar-user-notifications .dropdown-menu {
        left: 60px;
        top: 0; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar > .dropdown-menu {
        left: 60px;
        right: inherit; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar .user-full-name {
        display: none; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar .user-avatar-link {
        overflow: hidden;
        padding: 0;
        margin-top: -140px; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar .user-avatar-image {
        background-size: cover;
        display: inline-block;
        height: 42px;
        width: 42px; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .user-avatar .nav-item-label {
        display: inline-block; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .my-sites-menu .site-type {
        left: 100%;
        margin: 0 5px 0;
        right: inherit; }
      .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .container .nav-collapse ul.nav-account-controls .divider-vertical {
        display: none; }
.aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar {
  background: none; }
  .aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar .container > ul > li > a, .aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li > a {
    margin-right: -40px;
    margin-top: -40px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li.sign-in > a {
    margin-right: -50px;
    margin-left: -50px;
    margin-top: 0px;
    opacity: 100;
    transition: all 0.4s ease-in-out 0s; }
  .aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li.sign-in .nav-item-label {
    display: inline; }
  .aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li.user-avatar > a.user-avatar-link {
    margin-right: 10px;
    margin-top: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .aui .dockbar-bubbles.over .portlet-dockbar .navbar.dockbar .container .nav-collapse > ul > li.user-avatar .dropdown-menu {
    display: none; }
@media (max-width: 979px) {
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner .container > a {
    display: none; }
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner .container #_145_navAccountControlsNavbarCollapse, .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner .container #_145_navAddControlsNavbarCollapse {
    display: block;
    height: auto;
    overflow: visible; }
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner .container .dockbar-user-notifications-container {
    border: 1px solid #CCC;
    left: 40px;
    position: absolute; }
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner .container .dockbar-user-notifications, .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar .navbar-inner .container .page-preview-controls {
    display: none; }
  .aui .lfr-has-add-content .portlet-dockbar, .aui .lfr-has-edit-layout .portlet-dockbar {
    display: none; } }
@media (max-width: 767px) {
  .aui .dockbar-bubbles .portlet-dockbar .navbar.dockbar {
    left: 20px; } }

