
.swHide {
	display: none
}

div[name="question"] { 
	margin-left: 20px;
	margin-bottom: 20px;
}

input[type="radio"] {
 	margin-bottom: 7px;	
}	

input.dialogtext { 
	margin-bottom: 10px; 
	width: 100%; 
	padding: .4em; 
}
	
.dcrttr {
	border-top: 10px solid;
   	border-bottom: 10px solid;
   	border-color: transparent;
}

.dcrttable {
  	justify-content: center;
	margin-bottom: 15px;
	padding-bottom: 5px !important;
	border-bottom: 1px solid #ddd;
}

.ui-dialog.contact-dialog {
	box-shadow:0px 0px 3px #888;
	width: 345px !important;
    max-width: 100%;
}

.ui-dialog.contact-dialog .ui-widget-header {
	border-radius: 2px;
	background: #3cace4;
}
	
.ui-widget-overlay { 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 110%; 
    background: #aaaaaa;
    opacity: 0.4;
}
	
.dcrtbutton {
	border: 1px;
   	border-style: solid;
   	border-color: #FCFCFC;
   	box-shadow: 0px 1px 5px #888;
   	height: 30px;
   	color: white !important;
   	text-align: center;
   	vertical-align: middle;
	text-decoration: none;
   	display: inline-block;
   	font-size: 13px !important;
   	border-radius: 3px;
}

.dcrtbutton:hover {
	border: 0px;
	box-shadow: 0px 1px 10px #888;
}
    
.dcrtbutton.contact {
   	background-color: #3cace4;
   	width: 65px;
}
.dcrtbutton.default {
   	background-color: #3cace4;
   	width: 65px;
   	position: relative;
   	right: 30px;
}
	
.dcrtbutton.submission {
   	background-color: #87b54b;
   	width: 85px;
}

.dcrtbutton.details {
   	background-color: #3e66ad;
   	width: 65px;
}

.error {
    border: 1px solid #f00;
    box-shadow: 0 0 2px #f00 !important;
}

.valid {
    border: 1px solid #009c96;
    box-shadow: 0 0 2px #009c96 !important;
}

.custom .row {
	margin-left: 0;
}

.custom-dialog button {
	text-align: center;
   	border-radius: 3px;
   	padding: .2em 1em;
}

.custom-dialog-success div.ui-dialog-buttonset {
	float: none !important;
	text-align: center;
}

.custom-dialog-success div.ui-dialog-buttonpane {
	margin-top: 0;
	padding: 0;
}

.img-zoom {
	position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.img-zoom:hover {
	border: 1px solid #ccc;
	z-index: 1;
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}