.portlet-configuration .lfr-panel-content {
  padding: 0 1em; }
.portlet-configuration fieldset.rows-container {
  border-width: 0;
  margin-top: 0; }
.portlet-configuration .editing-disabled dt {
  color: #999;
  float: left;
  font-weight: bold;
  width: 6em; }
.portlet-configuration .lfr-form-row .field {
  margin-left: 2em; }
.portlet-configuration .lfr-form-row .field.options, .portlet-configuration .lfr-form-row .validation .field {
  clear: both;
  display: block; }
.portlet-configuration .lfr-form-row .field-title {
  color: #000;
  font-size: 120%;
  font-weight: bold;
  padding: 3px; }
.portlet-configuration .syntax-help {
  margin: 2em 0 0 2em; }
.portlet-configuration .validation {
  clear: left; }
.portlet-configuration .label-name .field-wrapper-content {
  margin-top: 0; }
.portlet-configuration .label-name input, .portlet-configuration .options input {
  width: 200px; }

.web-form-portlet .description {
  margin-bottom: 2em; }

.contact-form-helpdesk label {
  display: none; }

.contact-form-helpdesk legend {
  display: none; }

.contact-form-helpdesk .description {
  display: none; }

.contact-form-helpdesk textarea {
  width: 100%;
  height: 165px; }

.contact-form-helpdesk .btn {
  border-radius: 0;
  border: 0;
  position: relative;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 158, 227, 0.78);
  background-color: rgba(52, 90, 162, 0.8);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
  padding: 15px 55px;
  color: #fff;
  border-radius: 6px; }

.contact-form-helpdesk .btn-primary:hover {
  background-color: #81b248; }

