#suma_left {
  clear: left;
  float: left;
  width: 75%; }

#suma_left_top {
  height: 100px;
  padding-top: 20px; }

#suma_rigth {
  float: left;
  width: 25%;
  padding-bottom: 10px; }

#suma_rigth_top {
  height: 350px; }

.submissionlayout {
  width: 100%;
  padding-left: 50px;
  padding-bottom: 10px; }

.button_top_green {
  float: left;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 20%;
  background-color: #9bbe5a;
  border: thin solid #78963c;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5%; }

.button_top_grey {
  float: left;
  cursor: help;
  height: 50px;
  line-height: 50px;
  width: 20%;
  background-color: #c4c4c4;
  border: thin solid #969696;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5%; }

.button_top_WIP {
  float: left;
  cursor: help;
  height: 50px;
  line-height: 50px;
  width: 20%;
  background-color: #ff99cc;
  border: thin solid #969696;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5%; }

.button_right_green {
  cursor: pointer;
  height: 50px;
  line-height: 200%;
  width: 90%;
  background-color: #9bbe5a;
  border: thin solid #78963c;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-top: 5%; }

.button_right_darkgreen {
  cursor: pointer;
  height: 50px;
  line-height: 200%;
  width: 90%;
  background-color: #4f6228;
  border: thin solid #54682a;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-top: 5%;
  color: #ffffff; }

.button_right_grey {
  cursor: help;
  height: 50px;
  line-height: 200%;
  width: 90%;
  background-color: #c4c4c4;
  border: thin solid #969696;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-top: 5%; }

.button_right_lightblue {
  cursor: pointer;
  height: 50px;
  line-height: 200%;
  width: 90%;
  background-color: #95b3d7;
  border: thin solid #7890ad;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-top: 5%; }

.button_right_darkblue {
  cursor: pointer;
  height: 50px;
  line-height: 200%;
  width: 90%;
  background-color: #376092;
  border: thin solid #2d4e77;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-top: 5%; }

.button_right_WIP {
  cursor: help;
  height: 50px;
  line-height: 200%;
  width: 90%;
  background-color: #ff99cc;
  border: thin solid #969696;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-top: 5%; }

.button_back {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 90%;
  background-color: #9bbe5a;
  border: thin solid #78963c;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 5%; }

