

.slider_w25 {
	width: 25%;
}

div#metadata > div {
	min-width: 275px;
}

div#persistentIdentifier > label {
	display: block;
}

.df_input {
    padding-bottom: 3px;
    width: 60%;
}

.input[type=text] {
    width: 100%;
}

input[type=text]:disabled {
    background: #dddddd;
}

input[type=button]:disabled {
    color: lightgray;
}

input[type=radio] {
	margin-right: 3px;
    margin-bottom: 3px;
}

.answer_div {
    margin-left: 30px;
    padding-left: 5px;
}
.question_div {
    margin-top: 15px;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.wizard > .steps {
    font-size: 14px !important;
}

.wizard > .steps > ul{
    display: flex;
}

.wizard > .steps > ul > li > a{
	height: 95%;
}

.wizard > .content 
{
    background: rgba(238, 238, 238, 0.4);
    border: 1px solid lightgrey;
}

.wizard > .steps .disabled a, 
.wizard > .steps .disabled a:hover, 
.wizard > .steps .disabled a:active 
{
    background: rgba(238, 238, 238, 0.4);
    border: 1px solid lightgrey;
}

.wizard > .actions .disabled a, 
.wizard > .actions .disabled a:hover, 
.wizard > .actions .disabled a:active 
{
    background: rgba(238, 238, 238, 0.4);
    border: 1px solid lightgrey;
}

/*@media (max-width: 1024px)
{
    .wizard > .steps 
    {
        display: none !important; 
    }
    
    .wizard > .content > .body > div[name='title']
    {
    	display: block !important;
    }
}*/
