
.fl_w15 {
	float: left;
  	width: 15%;
    font-size: small;
}

.fl_w20 {
	float: left;
  	width: 20%;
    font-size: small;
}

.other_input {
	margin-left: 15px;
    float: right;
    padding-bottom: 3px;
    width: initial;
}

.df_input {
    padding-bottom: 3px;
    width: 60%;
}

.mlten {
    margin-left: 10px;
}

.fl {
    float: left;
}

.fs_small {
    font-size: small;
}

input[type=text]:disabled {
    background: #dddddd;
}

input[type=button]:disabled {
    color: lightgray;
}

.answer_div {
    margin-left: 30px;
}
.question_div {
    margin-top: 15px;
}

.radio_input {
    float: left; 
    margin-right: 3px;
    margin-bottom: 3px
}

.inputtext {
    margin-top: 5px;
    width: 15%;
}

.inputtext_long {
    margin-top: 5px;
    width: 25%;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.hide {
    display: none;
}
